.card.shadow-lg.rounded-lg.p-6
  .card-title.flex.justify-between
    %h2= "Nouvel Evenement"
  .card-body
    = simple_form_for @event, url: app_events_path do |form|
      = render partial: 'form', locals: {form: form}