@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default, night --prefersdark;
}
@import "leaflet/dist/leaflet.css";

.map-container {
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}
