%button.btn{:popovertarget => "popover-2", :style => "anchor-name:--anchor-2"}
  Menu
%ul#popover-2.dropdown.menu.w-52.rounded-box.bg-base-100.shadow-sm{:popover => "", :style => "position-anchor:--anchor-2"}
  %li
    %a Item 1
  %li
    %a Item 2
