.navbar.bg-base-100.shadow-sm.overflow-hidden.h-16
  .flex-none
    = render 'shared/navigation'
  .flex-1.mx-2
    = image_tag 'event_loop.png', style: 'height: 90px'
  .flex-none
    = link_to 'Se connecter', new_user_session_path, class: 'btn btn-soft btn-secondary' if current_user.nil?
    = render 'shared/profile_navigation' if current_user.present?  