%button.btn{:popovertarget => "popover-2", :style => "anchor-name:--anchor-2"}
  = lucide_icon 'menu'
%ul#popover-2.dropdown.menu.w-52.rounded-box.bg-base-100.shadow-sm{:popover => "", :style => "position-anchor:--anchor-2"}
  %li
    = link_to 'Tableau de board', root_path
  %li
    = link_to 'Evenement', app_events_path
  %li
    = link_to 'Contacts', app_contacts_path