%tr
  %td= contact.username
  %td= contact.email
  %td
  %td.flex.justify-end.gap-2
    = button_to remove_contact_app_contact_path(contact), method: :delete, class: 'btn btn-circle' do
      = lucide_icon 'circle-minus'